<div class="container">
  <div id="page" class="row">
    <div id="header">
      <div id="headerTitle">
        <span class="style5">Swapan's Coaching</span>
      </div>
      <div id="headerSubText">A coaching center for GATE exam</div>
    </div>
    <div id="bar">
      <nav>
      <a routerLink="/app-home" routerLinkActive="active">Home</a>
      <a routerLink="/app-courses" routerLinkActive="active">Courses</a>
      <a routerLink="/app-register" routerLinkActive="active">Register</a>
      <a routerLink="/app-about-us" routerLinkActive="active">About Us</a>
      </nav>
    </div>
    <router-outlet></router-outlet>
    </div>
     <div id="footer">
      Copyright @Swapan's Coaching,2017
     </div>

</div>